/*
 * -------------------------------------------------
 * HLAimputation Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

params {
  hlatype_files = [
                    ['1kg_all', '/scratch3/users/nanje/hlatyping/results/optitype/*/*.tsv'],
                  ]
  H3Africa_hlatypes = [
                        ['H3Africa', '/scratch3/users/nanje/hlatyping/h3a_hlatypes/results/optitype/*/*.tsv'],
                      ]
  subpop_ids = [
                   ['1kg_all', 'africans', '/users/nanje/data/Africanids.txt'],
                   ['1kg_all', 'gambian', '/users/nanje/data/Gambianids.txt'],
                ]
  genotype_files = [
                      //['1kg_all', '/cbio/projects/001/clients/hlaimpute/datasets/1kg_All_hla.vcf.gz'],
			['1kg_all', '/cbio/projects/001/clients/hlaimpute/datasets/1kg_All_reedited.vcf.gz'],
                  ]
  H3Africa_genotypes = [
                          ['H3Africa', '/cbio/projects/001/clients/hlaimpute/datasets/h3a_africans_edit_hla.vcf.gz'],
                      ]
  sample_data_hg18 =  [
                    ['GGVP', 'omni', '/cbio/projects/001/clients/hlaimpute/datasets/trial/omni_mhc_hg18.vcf.gz'],
                    ['GGVP', 'h3a', '/cbio/projects/001/clients/hlaimpute/datasets/trial/h3a_mhc_hg18.vcf.gz'],
                ]
  sample_data_hg19 = [
                    ['GGVP', 'omni', '/cbio/projects/001/clients/hlaimpute/datasets/omni_mhc_ggvp.vcf.gz'],
                    ['GGVP', 'h3a', '/cbio/projects/001/clients/hlaimpute/datasets/h3a_mhc_ggvp.vcf.gz'],
                ]
  subpop_modeldata = [
                  ['1kg_all','africans', '/scratch3/users/nanje/MHC-Imputation-Accuracy/modeldata_HIBAG/africans_HLA_A_Model.RData',
                   '/scratch3/users/nanje/MHC-Imputation-Accuracy/modeldata_HIBAG/africans_HLA_B_Model.RData', 
                   '/scratch3/users/nanje/MHC-Imputation-Accuracy/modeldata_HIBAG/africans_HLA_C_Model.RData'],
                  ['1kg_all','gambian', '/scratch3/users/nanje/MHC-Imputation-Accuracy/modeldata_HIBAG/Gambian_HLA_A_Model.RData', 
                  '/scratch3/users/nanje/MHC-Imputation-Accuracy/modeldata_HIBAG/Gambian_HLA_B_Model.RData', 
                  '/scratch3/users/nanje/MHC-Imputation-Accuracy/modeldata_HIBAG/Gambian_HLA_C_Model.RData']
              ] 
  dataset_modeldata = [
                  ['1kg_all','1kg_all', '/scratch3/users/nanje/MHC-Imputation-Accuracy/modeldata_HIBAG/1kg_all_1kg_all_HLA_A_Model.RData',
                   '/scratch3/users/nanje/MHC-Imputation-Accuracy/modeldata_HIBAG/1kg_all_1kg_all_HLA_B_Model.RData', 
                   '/scratch3/users/nanje/MHC-Imputation-Accuracy/modeldata_HIBAG/1kg_all_1kg_all_HLA_C_Model.RData'],
                  ['H3Africa', 'H3Africa', '/scratch3/users/nanje/MHC-Imputation-Accuracy/modeldata_HIBAG/h3a_h3a_HLA_A_Model.RData',
                   '/scratch3/users/nanje/MHC-Imputation-Accuracy/modeldata_HIBAG/h3a_h3a_HLA_B_Model.RData',
                    '/scratch3/users/nanje/MHC-Imputation-Accuracy/modeldata_HIBAG/h3a_h3a_HLA_C_Model.RData']             
              ]  
  
   eur_datasets = [
                ['Eur', 'Eur', '/scratch3/users/nanje/MHC-Imputation-Accuracy/datasets/HAPMAP_CEU.bed',
              '/scratch3/users/nanje/MHC-Imputation-Accuracy/datasets/HAPMAP_CEU.bim',
              '/scratch3/users/nanje/MHC-Imputation-Accuracy/datasets/HAPMAP_CEU.fam', 
              '/scratch3/users/nanje/MHC-Imputation-Accuracy/datasets/HAPMAP_CEU_HLA.ped']
                ] 
   multi_ethnic = [
              ['omni', 'multiethnic', '/scratch3/users/nanje/MHC-Imputation-Accuracy/multiethnic/omni/omni.alleles'],
              ['h3a', 'multiethnic', '/scratch3/users/nanje/MHC-Imputation-Accuracy/multiethnic/h3a/h3a.alleles']
            ]

  // True HLA alleles                    
  answer_file = '/scratch3/users/nanje/hlatyping/GGVP_hlatypes/sortedGGVP.snp2hla.hped'
  cookanswer_file = '/scratch3/users/nanje/hlatyping/GGVP_hlatypes/cookHLA.hped'
  hibag_answerfile = '/scratch3/users/nanje/hlatyping/GGVP_hlatypes/sortedGGVP_hibag_hlatypes'

  // Email
  email = ''

  // Output files
  outdir = '/scratch3/users/nanje/hlatyping/results/my-results'
  tracedir = "${params.outdir}/pipeline_info"


  // Directory for temporary storage of Beagle data
  scratch = '/scratch3/users/nanje/hlatyping/results'
  bgltemp ='/scratch3/users/nanje/hlatyping/results/tempfiles'
  h3atemp = '/scratch3/users/nanje/tmpdir'
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.png"
}

