/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/hlatyping -profile test
 */

params {
  max_cpus = 16
  max_memory = 100.GB
  max_time = 72.h
  single_end = false
  //input_paths = [
//   ['data', ['/users/nanje/data/link_Afrdata/*/*_R1.fastq.gz',
    //    '/users/nanje/data/link_Afrdata/*/*_R2.fastq.gz']]
  //]
  solver = 'glpk'
  seqtype = 'dna'
  bam = false
  index = "$baseDir/data/indices/yara/hla_reference_dna"
  outdir = "results"
}
profiles{
	slurm {
     		process{
			maxRetries      = 5
			maxErrors       = 10000
			errorStrategy   = 'ignore'
          		executor = 'slurm'
			memory          = { 30.GB * task.attempt }
			cpus            = { 1 * task.attempt }
     		}
	}
}
